// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


.bespoke-bullet-inactive
  margin-top -10px
  opacity 0
.bespoke-bullet-active
  margin-top 0px
  opacity 1
  transition 500ms all
.bespoke-bullet-current
  text-shadow 1px 2px 20px rgb(159,106,181)

img.show-text + span
  text-shadow 1px 2px 20px rgb(159,106,181)
  margin-bottom: 0px
  opacity: 0
  visibility: none
  transition: 300ms all
  font-weight: bold
  text-decoration: underline
img.show-text:hover + span
  margin-bottom: 10px
  opacity: 1
  visibility: visible
  transition: 300ms all

.bespoke-active div h1.animate-text-in
  animation: fadeIn
  animation-duration: 1.5s
  animation-direction: normal
  animation-fill-mode: forwards
  position: relative
  animation-delay: 1s
  top: 50px
.bespoke-active div:first-child h1.animate-text-in
  animation: fadeInQuote
  animation-duration: 1.5s
  animation-direction: normal
  animation-fill-mode: forwards
  position: relative
  animation-delay: 1s
  top: 100px
.animate-text-container
  width: 100%
  height: 60px
  overflow: hidden
  text-align: center
@keyframes fadeIn{
  from{
    top: 50px

  }
  to{
    top: 0px
  }
}

@keyframes fadeInQuote{
  from{
    top: 100px

  }
  to{
    top: 0px
  }
}

/* Membuat style untuk canvas dan game */

@font-face {
  font-family: 'Arcade Classic';
  src: url('fonts/arcadeclassic.eot');
  src: url('fonts/arcadeclassic.eot?#iefix') format('embedded-opentype'),
       url('fonts/arcadeclassic.woff') format('woff'),
       url('fonts/arcadeclassic.ttf') format('truetype'),
       url('fonts/arcadeclassic.svg#arcadeclassic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.canvas
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #000;
  height: 480px;
  width: 640px;
  margin-top: 10%;
  margin-left: 8%;
.background-end
  background: linear-gradient(315deg, #63d471 0%, #233329 80%) !important;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: 10000ms all;