// Put your custom styles here!

// New to Stylus? Check out http://learnboost.github.io/stylus
// You can use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer


.bespoke-bullet-inactive
  margin-top -10px
  opacity 0
.bespoke-bullet-active
  margin-top 0px
  opacity 1
  transition 500ms all
.bespoke-bullet-current
  text-shadow 1px 2px 20px rgb(159,106,181)