doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Frogger
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
      .window-container
        .window-bar
          span.circle1
          span.circle2
          span.circle3
          span.title-app Tim TST (Tiga Setengah Tahun)
        .window-frame
          
          section
            h1 Game Arcade Frogger
            h2 Nama kelompok
            ul
              li Ryan Owen Thionanda
              li Riady Yoslim
              li Zen Dharma

          section
            h2 Sejarah Game Arcade Frogger
            ul.build.build-items
              li Frogger (フロッガー (Furoggā)) adalah sebuah game arcade yang dikembangkan dan dipublish oleh Konami pada tahun 1981. Di Amerika Utara, Frogger sendiri di publish oleh Sega dan Gremlin Industries. Objek dari game adalah untuk mengarahkan katak ke rumah masing masing dengan cara melewati berbagai rintangan seperti jalanan yang ramai kendaraan, dan melewati sungai dengan berbagai tantangan.
              li Kehadiran Frogger dipandang positif dan diikuti beberapa tiruan dan sekuel. Pada tahun 2005, Frogger dan berbagai bentuk frogger terjual 20 juta salinan diseluruh dunia, dan 5 juta di Amerika Serikat (United States). Kemudian game ini semakin dikenal dalam media media yang populer, seperti televisi dan musik.
          section
            h2 Aturan Main Game
            img(src="https://upload.wikimedia.org/wikipedia/en/c/cd/Frogger_game_arcade.png" height="200px")
            p Pada game ini kita sebagai katak harus bergerak melewati rintangan untuk mencapai rumah dari katak dari 2 jenis rintangan utama, yaitu jalanan dan sungai. 
            | Pada jalanan kita harus menghindari mobil atau bus, sedangkan pada sungai kita harus menyeberangi dengan melompati balok kayu yang sedang melintas di sungai.
            

          section
            h2 Touch Interaction
            h3 Powered by <a href="https://github.com/bespokejs/bespoke-touch">bespoke-touch</a>

          section
            h2 Responsive Slides
            h3 Powered by <a href="https://github.com/bespokejs/bespoke-scale">bespoke-scale</a>
            ul.build.build-items
              li null
          section
            h2 Bullet List
            h3 Powered by <a href="https://github.com/bespokejs/bespoke-bullets">bespoke-bullets</a>
            ul.build.build-items
              li Bullet 1
              li Bullet 2
              li Bullet 3
              li Bullet 4

          section
            h2 Syntax Highlighting
            h3 Powered by <a href="https://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/PrismJS/prism">Prism</a>
            pre
              code.language-javascript.
                (function() {
                  function hanoi(n, a, b, c) {
                    return n ? hanoi(n - 1, a, c, b)
                        .concat([[a, b]])
                        .concat(hanoi(n - 1, c, b, a)) : [];
                  }
                  return hanoi(3, 'left', 'right', 'mid')
                    .map(function(d) {
                      return d[0] + ' -&gt; ' + d[1];
                    });
                })();

          section(data-bespoke-hash='named-route')
            h2 Named Route
            h3 Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a>
            p Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.
          section
            h2.bullet Just the beginning…
            ul.build.build-items
              li Edit <a href="https://pugjs.org">Pug (formerly Jade)</a> markup in <em class="path">src/index.pug</em>
              li Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em>
              li Edit JavaScript in <em class="path">src/scripts/main.js</em>
            br
            ul.build
              li
                strong Enjoy! :)
                a(href='https://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
      dragElement(document.getElementsByClassName("window-container")[0]);

      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementsByClassName('window-bar')[0]) {
          // if present, the header is where you move the DIV from:
          document.getElementsByClassName('window-bar')[0].onmousedown = dragMouseDown;
        } else {
          // otherwise, move the DIV from anywhere inside the DIV:
          elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
          e = e || window.event;
          e.preventDefault();
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          e.preventDefault();
          // calculate the new cursor position:
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          // set the element's new position:
          elmnt.style.position = 'relative';
          
          //- elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          // untuk perbaiki bug posisi ketika drag
          document.getElementsByClassName('window-bar')[0].style.top = '24px'
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
          // stop moving when mouse button is released:
          document.onmouseup = null;
          document.onmousemove = null;
        }
      }
