doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Frogger
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
      .window-container
        .window-bar
          span.circle1
          span.circle2
          span.circle3
          span.title-app Tim TST (Tiga Setengah Tahun)
        .window-frame
          
          section
            h1 Game Arcade Frogger
            h2 Tim TST
            ul
              li Ryan Owen Thionanda
              li Riady Yoslim
              li Zen Dharma

          section
            h2 Sejarah Game Arcade Frogger
            ul.build.build-items
              li Frogger (フロッガー (Furoggā)) adalah sebuah game arcade yang dikembangkan dan dipublish oleh Konami pada tahun 1981. Di Amerika Utara, Frogger sendiri di publish oleh Sega dan Gremlin Industries. Objek dari game adalah untuk mengarahkan katak ke rumah masing masing dengan cara melewati berbagai rintangan seperti jalanan yang ramai kendaraan, dan melewati sungai dengan berbagai tantangan.
              li Kehadiran Frogger dipandang positif dan diikuti beberapa tiruan dan sekuel. Pada tahun 2005, Frogger dan berbagai bentuk frogger terjual 20 juta salinan diseluruh dunia, dan 5 juta di Amerika Serikat (United States). Kemudian game ini semakin dikenal dalam media media yang populer, seperti televisi dan musik.
          section
            h2 Aturan Main Game
            img(src="https://upload.wikimedia.org/wikipedia/en/c/cd/Frogger_game_arcade.png" height="200px" class="show-text")
            span Screenshot game Frogger
            p Pada game ini kita sebagai katak harus bergerak melewati rintangan untuk mencapai rumah dari katak dari 2 jenis rintangan utama, yaitu jalanan dan sungai. 
            | Pada jalanan kita harus menghindari mobil atau bus, sedangkan pada sungai kita harus menyeberangi dengan melompati balok kayu yang sedang melintas di sungai.
          
          section.relativess
            canvas(id="background-canvas" class="canvas" width="640" height="480")
            canvas(id="canvas" class="canvas" width="640" height="480")
          
          section 
            div.animate-text-container
              h1.animate-text-in Terima kasih
            div.animate-text-container
              h1.animate-text-in atas perhatianya :)

    script(src='build/build.js')
    script(src="build/frogger.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')

    script.
      dragElement(document.getElementsByClassName("window-container")[0]);

      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementsByClassName('window-bar')[0]) {
          // if present, the header is where you move the DIV from:
          document.getElementsByClassName('window-bar')[0].onmousedown = dragMouseDown;
        } else {
          // otherwise, move the DIV from anywhere inside the DIV:
          elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
          e = e || window.event;
          e.preventDefault();
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          e.preventDefault();
          // calculate the new cursor position:
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          // set the element's new position:
          elmnt.style.position = 'relative';
          
          //- elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          // untuk perbaiki bug posisi ketika drag
          document.getElementsByClassName('window-bar')[0].style.top = '24px'
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
          // stop moving when mouse button is released:
          document.onmouseup = null;
          document.onmousemove = null;
        }
      }
